*{
    margin: auto;
}  

h3{
    color: #006b0e;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    text-align: center;
    color: rgb(123, 39, 131);
}
h1{
    margin: 40px;
    border: 2px solid rgb(83, 4, 173);
    padding: 40px;
}
body{
    text-align: center;

}
#mary {
    text-align: center;
    color: rgb(93, 24, 173);
}
.center {
    text-align: center;
    color: rgb(36, 8, 160);
}
a:hover{
    color: rgb(247, 38, 212);
    font-size: 25px;
}
img:hover{
    width: 250px;
}
.imagenesIntro{
    width: 280px;
    display: block;
    margin-top: 50px;
}
iframe{
    margin-top: 50px;
}

.cuadro1{
width:10%;
height:30%;
border:2px solid rgb(0, 0, 0);
padding:2%;
background-color:rgb(227, 155, 241);
margin:5%;
position: static;
}
.cuadro2{
width:10%;
height:15%;
border:2px solid rgb(0, 0, 0);
padding:2%;
background-color:rgb(99, 110, 211);
margin:5%;
position: absolute;
}
.cuadro3{
width:10%;
height:10%;
border:2px solid rgb(0, 0, 0);
padding:1%;
background-color:rgb(128, 230, 208);
margin:1%;
position: fixed;
top: 100px;
right: 100px;
}
.cuadro4{
width:10%;
height:30%;
border:2px solid rgb(0, 0, 0);
padding:2%;
background-color:rgb(211, 99, 155);
margin:5%;
position: relative;
left: 40px;
bottom: 50px;

}
#miImagen:hover{
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    filter: grayscale(90%)
}

#miImg:hover{
    transition-duration: 1s;
    transition-timing-function: ease-in;
    filter: invert(100%);
}
#miImg2:hover{
    transition-duration: 2s;
    transition-timing-function: ease-in;
    filter: opacity(50%)

}
#maryl{
animation-name: samuel;
animation-duration: 2s;
animation-iteration-count: 5;
animation-timing-function: linear;
animation-direction: alternate;
}
@keyframes samuel{
0%{
}
50%{
    transform: rotateZ(100deg);
    filter: invert(100%);
}
100%{
    transform: translate(50px,120px)
}
}
#tiutlo{
animation-name: samuel;
animation-duration: 2s;
animation-iteration-count: 5;
animation-timing-function: linear;
animation-direction: alternate;
}
@keyframes samuel{
0%{
}
50%{
    transform: rotateZ(100deg);
    filter: invert(100%);
}
100%{
    transform: translate(50px,120px)
}
}
#titulo{
    animation-name: lucu;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-direction: alternate;
    }
    @keyframes lucu{
    0%{
    }
    50%{
        transform: rotateX(60deg);
        filter: invert(100%);
    }
    100%{
        transform: translate(50px,120px)
    }
}







    

